.text-lenguage span {
  display: none;
}

.text-lenguage {
  width: 16.5px;
}

@media (min-width: 500px) {
  .text-lenguage {
    width: 45px;
  }

  .text-lenguage span {
    display: block;
  }
}

@media (min-width: 640px) {
  .text-lenguage {
    width: 16.5px;
  }

  .text-lenguage span {
    display: none;
  }
}

@media (min-width: 768px) {
  .text-lenguage {
    width: 45px;
  }

  .text-lenguage span {
    display: block;
  }
}
